# Created by .ignore support plugin (hsz.mobi)
.idea/
QQServer/QQServer.iml
IDEA_Chapter08/IDEA_Chapter08.iml
IDEA_Chapter12/IDEA_Chapter12.iml
IDEA_Chapter14/IDEA_Chapter14.iml
IDEA_Chapter15/IDEA_Chapter15.iml
IDEA_Chapter16/IDEA_Chapter16.iml
IDEA_Chapter17/IDEA_Chapter17.iml
IDEA_Chapter18/IDEA_Chapter18.iml
IDEA_Chapter19/IDEA_Chapter19.iml
IDEA_Chapter20/IDEA_Chapter20.iml
IDEA_Chapter21/IDEA_Chapter21.iml
Java_Learning_Code.iml

IDEA_Chapter23/IDEA_Chapter23.iml
IDEA_Chapter25/IDEA_Chapter25.iml

/out/production/
